@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body {
  font-family: 'Lobster', cursive;
}


.App-header {
  background-color: #fff8e1; /* Light pastel yellow background */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #d35400; /* Deep orange text color */
}

.App-link {
  color: #ffa500; /* Pastel orange link color */
  text-decoration: none;
  padding: 5px 10px;
  transition: color 0.3s ease, background-color 0.3s ease;
  border-radius: 4px; /* Rounded edges for the link */
}

.App-link:hover {
  color: #fffbe7; /* Light yellow color on hover */
  background-color: #d35400; /* Deep orange background on hover */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
